<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backupr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backupr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Backupr.Properties.Settings>
            <setting name="IgnoreFilter" serializeAs="String">
                <value>.picasaoriginals</value>
            </setting>
            <setting name="FileSpec" serializeAs="String">
                <value>*.jpg,*.jpeg,*.gif,*.tif,*.tiff,*.png,*.avi,*.wmv,*.mov,*.mpeg,*.mpg,*.mp4,*.3gp,*.m2ts,*.ogg,*.ogv</value>
            </setting>
            <setting name="ParallelUploads" serializeAs="String">
                <value>50</value>
            </setting>
        </Backupr.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Backupr.Properties.Settings>
            <setting name="SourceFolder" serializeAs="String">
                <value>C:\Users\stuchlik\Dropbox\Camera Uploads\</value>
            </setting>
        </Backupr.Properties.Settings>
    </userSettings>
</configuration>